/* CSS reset */
body,
h1,
h2,
h3,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1,
h2,
h3 {
    font-family: "latino-gothic-variable", sans-serif;
}

h1 {
    font-size: 7rem;
    font-variation-settings: 'wght' 90, 'wdth' 15, 'slnt' 1;
}

h2 {
    font-size: 4rem;
    font-variation-settings: 'wght' 70, 'wdth' 45, 'slnt' 1;
    margin-top: 1rem;
}

h3 {
    font-size: 1.7rem;
    font-variation-settings: 'wght' 60, 'wdth' 20, 'slnt' 1;
}

.sub-banner {
    font-size: 5rem;
    font-variation-settings: 'wght' 10, 'wdth' 60, 'slnt' 1;
    margin-top: -1rem;
}

p {
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    margin: 30px auto;
    text-align: justify;
}

.summary-sentence {
    font-size: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    border: solid thin;
    background-color: #142426;
}

hr {
    height: 4px;
    background-color: black;
    margin: 0;
    border: none;
}

main {
    margin: 0;
}

.navigation-buttons-container {
    border: solid;
    margin: 0 20px;
}

.background-1-container {
    width: 100%;
    background-color: #fffdf3;
}

.background-2-container {
    width: 100%;
    background-color: #ef7737;
}

.content-container {
    width: 60%;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.projects-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border: solid; */
}

.project-link {
    border: solid;
    width: 300px;
    height: 300px;
    margin: 20px 0;
    background-color: #ef7737;
}

.project-link:hover {
    cursor: pointer;
    background-color: #fb965f;
}

.project-preview {
    background-color: #fffdf3;
    width: 80%;
    height: 60%;
    margin: 20px auto;
}

.project-title {
    margin-left: 10%;
}